<%-   include('partials/_header') %>


  <div class="container">
      <div class="row">
          <!--FORM-->
          <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add"   method="POST"> 
                        <div class="form-group">
                            <input  type="text" name="title" 
                            placeholder="Insert a Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <textarea cols="80" name="description" 
                            placeholder="Insert a Description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block"> 
                                    Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>

          </div>
          <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Operation</th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let task of tasks){ %>
                        <tr>
                            <td><%= idCont = idCont +1 %></td>
                            <td><%= task.title %></td>
                            <td><%= task.description %></td>
                            <td>
                                <a href="/done/<%= task._id %>" 
                                    class="btn <%= task.status ? 'btn-success ' : 'btn-dark' %> text-white">
                                    Done
                                </a>
                                <a    href="/delete/<%= task._id%>"  class="btn btn-danger text-white">
                                    Delete
                                </a>
                                <a  href="/edit/<%= task._id %>" class="btn btn-primary text-white">
                                    Edit
                                </a>
                            </td>



                        </tr>
                       
                 <%   } %>
                </tbody>
            </table>
          </div>
      </div>

  </div>

  <%- include('partials/_footer') %>